#title{
   text-align: left;
    background-color: #051d35;
    color: #fff;
    background-image: url(imagens/fundo0.jpg);
}

span{ color: #051d35;}
p{
    font-family: "Ubuntu", sans-serif;
    font-size: 1rem;
    font-weight: 700;

}
h1{ position: relative;
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-size: 2rem;
    line-height: 1.5;
   height: rem;
    color: #fff;
}
h1,h2,h3,h4,h5{
   font-family: "Ubuntu", sans-serif;
  
    
}
   
.container-fluid{
    padding: 7% 15%;
}
body{
    overflow-x: hidden;
    font-family: "Ubuntu", sans-serif;
    text-align: center;
    
}
.navbar-brand{
    font-size: 2.5rem;
    font-weight: 700;
    right: 2rem;
    position: relative;
}

/* navegaçao */
.big-head{
    font-family: "Ubuntu", sans-serif;
    font-size: 2rem;
    line-height : 1.5rem;
    font-weight: 900;
    color:#fff;
    background-color: transparent;
    
}
.lokinho{
    font-weight: 700;
    font-size: 2rem;
    line-height: 1.5;
    /* color: #051d35; */
}

.navbar {
    right: 2rem;
    position: relative;
    padding: 0 0 0 4rem;
}
.nav-item{
    padding: 0 1rem;
    
    color: #fff;
}
.nav-link{
    font-size: 1.5rem;
    left: 3rem;
}
.img-figure{
    
    transform: rotate(25deg);
    position: absolute;
    left:40rem;
    bottom: 8rem;


}
 #features{
    padding: 9% 15%;
   
    position: relative;
    z-index:1;
 }
 
 
.feature-box p{
    font-size: 1rem;
    color: #8f8f8f;
}
/* testemuial */
#testimonials{
    padding: 4% 15%;
    
    color: #fff;
    background-color: rgb(243, 130, 65);
    background-image:url(imagens/fundo8.jpg)
    
}


#press{
    /* background-image: url(imagens/lampada.jpg); */
    /* background-color: rgb(243, 130, 65); */
    background-image: url(imagens/fundo3.jpg);
    
    /* background-image: url(imagens/pexels-fecundap6-347226.jpg); */
    
}
.press-logo{
    width: 15%;
    margin: 5px 5px 30px;
     
    
}
.card{
    display: flex;
   background-color: #fff;

}  
#pricing p{
    font-size: 1.5rem;
    font-weight: 700;
}
@media   ( max-width:1028px){  
    #title{
        text-align: center;
     }
    .img-figure{   
        position: static;
    transform: rotate(0);
 } 
  }
.container{
    position: relative;
   text-align: center;
  
}
.container h2 {
    font-size: 2rem;
    font-weight: 800;
}
#carousel-slide{
    justify-content: center;
    background-color: #051d35;
  }
  #carousel-slide h1{
    color: #fff;
    font-weight: 700;
  }
  #carousel-slide p{
    font-size: 1rem;
    color: #fff;
    font-weight: 700;
  }
  .img1{
    border-radius: 100%;
  }